/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  font-family: "Inter-Variable", sans-serif;
  background: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
}

/* Начало header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 100px;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: "PressStart2P-Regular", monospace;
  background-color: var(--card-background-color);
  inline-size: 100%;
  block-size: 328px;
}

.header__logo {
  padding-block-start: 118px;
  font-weight: 400;
  font-size: 49px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.subheader {
  padding-block-start: 20px;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-block-start: 25px;
}

.theme-menu__button {
  border: none;
  border-block-end: 2px solid transparent;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  transition: 0.5s;
}

.theme-menu__item:has(.theme-menu__button:disabled) {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__item:has(.theme-menu__button:disabled)::before {
  content: "▶";
  position: relative;
  opacity: 0.6;
  animation: left-right 0.5s ease-in-out infinite alternate;
}

.theme-menu__item .theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: 0.5s;
}

.theme-menu__button:focus-visible {
  border-block-end: 2px solid currentColor;
  animation: left-right-underline 0.5s linear;
}

/* Конец header */

/* Начало main */
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block-start: 100px;
}

.card {
  position: relative;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--card-background-color);
  inline-size: 100%;
  min-block-size: 760px;
}

.card:nth-child(1)::after {
  content: "</HTML>";
  position: absolute;
  top: 75px;
  right: 11px;
  opacity: 0.5;
  color: #000;
  font-family: "PressStart2P-Regular", monospace;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  mix-blend-mode: hard-light;
}

.card__title {
  border-block-end: 2px solid var(--accent-color);
  padding: 4px 10px 6px 10px;
  font-weight: var(--font-weight-title);
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.card__image {
  width: 100%;
  border-block-end: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1/1;
}

.card:nth-child(2) .card__image {
  filter: saturate(0.3);
}
.card:nth-child(3) .card__image {
  filter: saturate(2.5);
}
.card:nth-child(4) .card__image {
  filter: sepia(0.6) saturate(1.7);
}
.card:nth-child(5) .card__image {
  filter: invert(0.8);
}
.card:nth-child(6) .card__image {
  filter: sepia(0.9);
}
.card:nth-child(7) .card__image {
  filter: blur(8px);
}
.card:nth-child(8) .card__image {
  filter: blur(1px) hue-rotate(80deg);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
}

.text {
  font-weight: var(--font-weight-text);
  font-size: 18px;
  font-style: normal;
  line-height: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.card__icon-button {
  height: 36px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid currentColor;
  transition: 0.3s ease;
}

.card__like-button {
  position: relative;
  width: 128px;
  height: 35px;
  border: none;
  border: 2px solid var(--accent-color);
  font-family: "PressStart2P-Regular", monospace;
  background: none;
  cursor: pointer;
}

.card__like-button .button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__like-button:focus,
.footer-button:focus,
.dialog-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.footer-button:focus-visible,
.dialog-button:focus-visible {
  box-shadow: 2px 2px 0 0 currentColor;
  transition: 0.5s ease-in-out;
}

.card__like-button:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  animation: left-right-button 0.5s ease-in-out both;
}

/* Конец main */

/* Начало footer */
.footer {
  display: flex;
  justify-content: center;
  padding: 52px 32.5px 100px 32.5px;
}

.footer-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 2px solid currentColor;
  padding: 15px;
  color: var(--accent-color);
  background-color: var(--card-background-color);
  cursor: pointer;
  inline-size: 306px;
  block-size: 80px;
}

.footer-button span {
  font-family: "PressStart2P-Regular", monospace;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 90%;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid var(--accent-color);
  padding: 32px 42px;
  color: var(--accent-color);
  font-family: "PressStart2P-Regular", monospace;
  background-color: var(--card-background-color);
  min-block-size: 195px;
  inline-size: 341px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog:not([open]) {
  display: none;
  pointer-events: none;
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info svg {
  width: inherit;
  height: inherit;
  fill: currentColor;
}

.svg {
  width: 29px;
  height: 29px;
}

.footer .text {
  font-family: "PressStart2P-Regular", monospace;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.dialog-button {
  border: 2px solid currentColor;
  font-family: inherit, monospace;
  background-color: transparent;
  cursor: pointer;
  inline-size: 257px;
  block-size: 38px;
}
/* Конец footer */

@media (width <= 375px) {
}
